services:
  notification-api:
    container_name: notification-api
    profiles: [ "require__notification-api" ]
    build:
      context: ..
      dockerfile: ./notification/notification-api/Dockerfile
    env_file:
      - .env
    ports:
      - 8006:8000
    depends_on:
#      rabbitmq_management-001:
#        condition: service_healthy
      mongo:
        condition: service_healthy
    restart: on-failure

  email-worker:
    container_name: email-worker
    profiles: [ "require__email-worker" ]
    build:
      context: ..
      dockerfile: ./notification/email-worker/Dockerfile
    env_file:
      - ${ENV_FILE}
    depends_on:
#      rabbitmq_management-001:
#        condition: service_healthy
      mongo:
        condition: service_healthy
      notification-api:
        condition: service_started
      mailhog:
        condition: service_started
    restart: on-failure

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"  # Веб-интерфейс
      - "1025:1025"  # SMTP сервер