volumes:
  redis_data:

services:
  redis:
    profiles: ["require__redis"]
    image: redis:7.4
    container_name: redis
    volumes:
      - redis_data:/data
    env_file: 
      - ${ENV_FILE}
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 2s
      retries: 3
      start_period: 10s
